[Unit]
Description=Podman container-syncthing.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/syncthing/syncthing:latest
Environment=STGUIADDRESS=127.0.0.1:8384 
Volume=/var/home/jibou/Sync/:/home/jibou/Sync:Z
Volume=/var/home/jibou/keepass/:/home/jibou/keepass:Z
Volume=/var/home/jibou/.config/syncthing/:/var/syncthing/config:Z
ContainerName=syncthing 
Network=host 
HostName=syncthing
AutoUpdate=registry
#User=root
UserNS=keep-id

[Service]
Restart=always

[Install]
WantedBy=default.target
