{{ if eq .chezmoi.config.data.hostname "desktop" -}}

# Arrange the screens as they are on the desk : 

set $DELL "DP-1"
 
output $DELL position 0 0 res 3840x2160@60Hz scale 1

# Set wallpapers

output $DELL background $HOME/.config/fall.jpg fill


# Assigns workspaces to monitors
# No longer applicable

{{ else -}}

output * background $HOME/.config/fall.jpg fit


{{ end -}}

