# -*- conf -*-

{{ if eq .chezmoi.config.data.hostname "desktop" -}}
font=Fira Code:size=12
{{ else -}}
font=Fira Code:size=12
{{ end }}

# Blank space around the borders, in pixel
# The format is XXxYY
pad=20x25


# Colors (Gruvbox Material Dark Medium)
[colors]
alpha=0.80
foreground=dfbf8e
background=282828

## Normal/regular colors (color palette 0-7)
regular0=665c54  # black
regular1=ea6962  # red
regular2=a9b665  # green
regular3=e78a4e  # yellow
regular4=7daea3  # blue
regular5=d3869b  # magenta
regular6=89b482  # cyan
regular7=dfbf8e  # white

## Bright colors (color palette 8-15)
bright0=928374   # bright black
bright1=ea6962   # bright red
bright2=a9b665   # bright green
bright3=e3a84e   # bright yellow
bright4=7daea3   # bright blue
bright5=d3869b   # bright magenta
bright6=89b482   # bright cyan
bright7=dfbf8e   # bright white


# vim: ft=dosini
