// Config

configuration {
    modi:               "drun,window,run,combi";
    cycle:              true;
    show-icons:         true;
    matching:           "glob";
    location:           0;
    padding:            50;
    font:               "IBM Plex Mono 12";
    hide-scrollbar:     true;
    display-combi:		"run";
}
@theme "gruvbox-dark"
listview {
	lines: 8;
	columns: 1;
}
window {
    width: 17%;
}
